.form_css
{
    background-color: rgba(0, 0, 0, 0.7);
    margin:10vh 10vw 10vh 10vw ;
    padding-top: 3vh;
    padding-bottom: 5vh;
    width:auto;
    position: relative;
    font-size: 2.4vh;
    text-align: center;
    color:white;
    top:-11vw;
}

.form_css td
{
    color: white;
    padding-top:2vh;
    padding-left: 2vw;
    font-family: sans-serif;
    font-size: 2.4vh;


}
.form_css input
{

    color:white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1vw;
    height:3vh;

}
.form_css input:hover
{
    transition: 0.7s;
    color:black;
    background-color: white;
    border : 2px solid white;
}


.form_css textarea
{
    color:white;
    background-color: rgba(0, 0, 0,    0.7);
    width:30vw;
    height:30vh;
    border-radius: 1vw;
}

.form_css textarea:hover
{
    transition: 0.7s;
    color:black;
    background-color: white;
    border : 2px solid white;
}

.form_css input[type=text]
{
    width:30vw;
    height:4vh;
    padding-left: 0.5vw;
    padding-right:0.5vw;

}


.form_css input[type=email]
{
    width:30vw;
    height:4vh;
    padding-left: 0.5vw;
    padding-right:0.5vw;

}

.form_css input[type=number]
{
    width:30vw;
    padding-left: 0.5vw;
    padding-right:0.5vw;
    height:4vh;

}

.form_css input[type=submit]
{
    width: 8vw;
    height:6vh;
    float:right;
    font-size: 1.6vw;
}
.form_css input[type=button]
{
    width: 6vw;
    height:4vh;
    font-size: 1.3vw;
}
.form_css select
{
    width:auto;
    height:4vh;    font-size: 1.3vw;
}